
/* -------------------- General --------------------- */
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header{
	background-color: #333;
	width: 100%;
	z-index: 1000;
}

a:link{
	text-decoration: none;
}

#bigLogo{
	width: 200px;
	margin-left:40%;
}

#smallLogo{
	width:100px;
	margin-top: 5px;
	margin-bottom: 2px;
	margin-left: 25px;
	opacity: 0;

    -ms-transition:  0.5s ease;
    -webkit-transition:  0.5s ease;
	transition:  0.5s ease;
}


nav{
	position: relative;
}

nav ul{
	margin:0px;
}

nav li{
	display: inline-block;
	list-style-type: none;
	color: white;
	padding: 10px;
	padding-top: 25px;
	padding-right: 30px;
}

nav button{
	background-color: transparent;
	border:none;
	color: white;
}

nav li a, nav li button{
	display: inline-block;
	border-bottom: 2px solid #333;
}

nav li a:hover, nav li button:hover{
	border-bottom: 2px solid white;
}

.menu-icon{
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
	padding-right: 10px;
	color: white;
}

.dropdown{
	display: none;
	position: absolute;
	background-color: #333;
}

.dropdown a, .dropdown button{
	display: block;
	padding: 10px;
}

.dropdown button{
	width: 100%;
}

.dropdown a:hover,.dropdown button:hover{
	border-bottom:none;
	background-color: lightgrey;
	color: #333;
}
/*
.menu-icon:hover > .dropdown{
	display: block;
	width: 200px;
	right: 0;
}
*/
.womenDrop:hover .dropdown{
	display: block;
	width: 200px;
	position: absolute;
	top:59px;
}
/*
#nestDrop:hover + .dropdown{
	display: block;
	right: 200px;
	top: 0;
}
*/
footer{
	margin-top: 50px;
	background-color: #f0f0f0;
	padding-top: 50px;
	padding-bottom: 25px;
}

footer p{
	margin-top: 100px;
	padding-top: 15px;
	border-top:1px solid white;
}

section{
	padding-left: 100px;
}

.footerDetail{
	padding: 0;
}

.footerDetail li{
	font-size: 13px;
	list-style-type: none;
}


/* ------------------- Main Page ----------------------- */

.frontImg{
	width: 100%;
	height: auto;
}

.container{
	padding-top: 100px;
	width: 70%;
	margin:auto;
}

.container img{
	width: 100%;
}


/* ------------------- Women Page ----------------------- */


#page-label{
	padding: 50px 30px 0px 30px;
}

#exhibition{
	background-color: #f0f0f0;
}

.all-bags{
	display: flex;
	display: -webkit-flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
}

.flex-products{
	width: 25%;
}

.flex-products img{
	width: 100%;
}

.flex-products img:hover{
	opacity: 0.6;
}

.flex-products p{
	font-size: 12px;
	width: 80%;
	margin: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* ------------------- Bag Page ----------------------- */

.main-pic img{
	padding: 15px 0 0 15px;
}

.detail-pic img{
	padding: 15px 0px 0 15px;
}

.detail-info{
	padding-left: 30px;
}

#tiggle-labels{
	margin-top: 50px;
}

.add-product{
	margin-top: 50px;
}
.qty-select select{
	width: 100%;
}

.add-chart{
	background-color: #333;
	color: white;
	border:none;
}


/* ------------------- Sign Up Page ----------------------- */

#sign-bg{
	background-image: url("img/register.jpg");
	background-size: cover;
	padding: 100px;
	padding-bottom: 300px;
}

#sign-main{
	background-color: #fff;
	padding: 50px 0 50px 0;
	width: 60%;
	margin:auto;
}

.wideInput{
	width: 100%;
}

.sign-up-btn{
	background-color: #333;
	color: white;
	border:none;
	padding: 10px 15px;
	display: block;
	width: 30%;
	margin:auto;
	margin-top: 30px;
}

/* ------------------- Sign In Box ----------------------- */

#signInBox{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.6);
}

#sign-content{
	position: relative;
	width: 50%;
	margin:auto;
	margin-top: 150px;
	background-color: rgba(255,255,255,1);
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: animateout;
	-webkit-animation-name: animateout;
	animation-duration: 1s;
	-webkit-animation-duration:1s;
	animation-timing-function:ease;
	-webkit-animation-timing-function:ease;
}

@-webkit-keyframes animateout{
	from{top:-200px; opacity: 0}
	to{top:0px; opacity: 1}
}
@keyframes animateout{
	from{top:-200px; opacity: 0}
	to{top:0px; opacity: 1}
}

#close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 10px;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#signInBox a{
	font-size: 13px;
	float: right;
	padding-top:3px;
}


/* ------------------- Responsive Design ----------------------- */

@media screen and (max-width: 750px){
	nav ul, #bigLogo{
		display: none;
	}

	.menu-icon{
		display: inline-block;
	}

	#smallLogo{
		opacity: 1;
		margin-left: 25px;
	}
}

@media screen and (max-width: 499px){
	.flex-products{
		width: 100%;
	}

	#sign-bg{
		padding: 50px 20px 100px 20px;
	}

	#sign-main{
		width:100%;
	}

	#sign-content{
		width: 90%;
	}
}

@media screen and (max-width: 800px) and (min-width:500px){
	.flex-products{
		width: 50%;
	}

	#sign-bg{
		padding: 50px;
		padding-bottom: 150px;
	}

	#sign-main{
		width:80%;
	}

	#sign-content{
		width: 60%;
	}
}

@media screen and (min-width:1500px){
	.flex-products{
		width: 15%;
	}

	#sign-bg{
		padding: 100px;
		padding-bottom: 500px;
	}

	#sign-main{
		width:40%;
	}

	#sign-content{
		width: 40%;
	}
}
